<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css">
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
</head>
<body>
	{% extends '/main/homeodontologo.html' %}
	{% block body %}
	<div><div id="calendar"></div></div>
	<script>
	let calendarEl = document.getElementById('calendar');

	let calendar = new FullCalendar.Calendar(calendarEl,{
	events : [
		{% for event in events%}
	    {
			title: '{{event.todo}}',
			start: '{{event.fecha}}T{{event.hora}}',
		},
		{% endfor %}
	   ]
});

	calendar.render()
	</script>
	{% endblock %}
</body>
</html>