{% extends '/main/homeodontologo.html' %}
{% block body %}
<section id="ee" class="absolute1">
    <div class="container1">
        <h4 class="fs-18 font-w600 mb-4 text-nowrap">Bienvenido a sus
            estadisticas semanales.</h4>
        <div class="row1" id="row">

        </div>
    </div>
    <br>
    <div class="card2">
        <div class="card-body d-flex px-4 pb-0 justify-content-between">
            <div id="columnChart">
                <h4 class="fs-18 font-w600 mb-4 text-nowrap">Total Clientes</h4>
                <div class="d-flex align-items-center">
                </div>
            </div>
        </div>
        </div>
            <div class="card3">
                <span class="progressText1">Fecha inicio</span>
                <br>
                <input type="date" id="fechaini" class="date" name="dateini">

                <span class="progressText1">Fecha final</span>
                <input type="date" id="fechafin" class="date" name="datefin">

                <a type="btn" class="btn btn-primary" id="consul"
                    onclick="aaa()">Consultar</a>
            </div>
        </section>

        {% endblock %}