<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/historial.css">

    <title>Document</title>
</head>

<body>
    {% extends '/main/homepaciente.html' %}
    {% block body %}
    <div id="card">
        <div id="container12" class="container12">

        </div>
    </div>
    <button onclick="genPDF()">Generar PDF</button>

    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script src="../../static/js/historial.js"></script>
</body>
</html>