<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/homepacciente.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/agendar.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
    <link rel="stylesheet" href='https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css'>
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/tratamientos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='../static/css/consultar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='../../static/css/modal_noti.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../static/css/modal_login.css')}}">
</head>

<body class="pago">
    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle
                                navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0
                                        ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Citas</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/fronted/indexconsultar">Consultar</a>
                                        <a id="agendar" class="dropdown-item"
                                            href="/fronted/indexagendarcitas">Agendar</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0
                                        ml-md-4">
                                    <a class="nav-link" href="/fronted/indexestratamientos">Tratamientos</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0
                                        ml-md-4">
                                    <a class="nav-link" href="/fronted/indexcertificados">Certificaciones</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0
                                        ml-md-4">
                                    <a class="nav-link" href="/fronted/indexmisdatos">Mis datos</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0
                                        ml-md-4 active">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">Perfil</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/fronted/indexeactualizar"> Actualizar datos </a>
                                        <a class="dropdown-item" href="/" id="cerrar" onclick="cerrar_sesion()"> Cerrar sesion </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div> 
{% block body %} 
    <div class="section full-height">
        <div class="absolute-center">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>
                                <span>B</span>
                                <span>I</span>
                                <span>E</span>
                                <span>N</span>
                                <span>V</span>
                                <span>E</span>
                                <span>N</span>
                                <span>I</span>
                                <span>D</span>
                                <span>O</span>
                                <br>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="switch">
                                <div id="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endblock %} <div class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <div class="mensaje">
                <h1>En este momento no tiene ningun mensaje</h1>
            </div>
            <div id="noti" class="notificacion">
                <img src="https://www.latercera.com/resizer/sb91NqJC0m16VtB4cjbZvQxIEmc=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/YPG2SOLGAJBDBHO5PRJA75IEGI.jpg"
                    alt>
            </div>
        </div>
    </div>
    <a href="https://front.codes/" class="logo" target="_blank"></a>
    <script src="{{url_for('static', filename='../../static/js/modal_login.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/homepaciente.js')}}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{url_for('static', filename='../../static/js/tratamiento.js')}}"></script>
    <script src="{{url_for('static', filename='../../static/js/misdatos.js')}}"></script>
    <script src="{{url_for('static', filename='../../static/js/actualizar.js')}}"></script>
    <script src="{{url_for('static', filename='../../static/js/agendarcitas.js')}}"></script>
    <script src="{{url_for('static', filename='../../static/js/consultar.js')}}"></script>
    <script src="{{url_for('static', filename='../../static/js/modal_noti.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="../../static/js/certificaciones.js"></script>
    <script type="text/javascript" src="../../static/js/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>